// sidebar primary layout
.sidebar-primary {
  .wrap > .content {
    @extend .row;
    .main {
      @extend .col-sm-9;
    }
    .sidebar {
      @extend .col-sm-3;
    }
    .owl-carousel {
      @extend .col-12;
    }
  }
}

// home page styling
.home {
  .main {
    h2 {
      color: $turqoise;
    }
  }
}
// features carousel on home page
.features-carousel {
  position: relative;
  .item {
    min-height: 400px;
    background-color: $gray;
    text-align: center;
    display: flex;
    align-items: center;
    .item-content {
      margin: 0 auto;
      background-color: rgba($white, .5);
      padding: 20px;
      min-width: 60%;
      color: $red;
      font-family: $courier;
      h2 {

      }
    }
    a {
      width: 100%;
      color: $red;
      h1 {
        color: $red;
      }
    }
  }
  .owl-nav {
    button {
      position: absolute;
      top: calc(50% - 30px);
      color: $white;
      &.owl-prev {
        left: 10px;
      }
      &.owl-next {
        right: 10px;
      }
      span {
        font-size: 3rem;
        color: $white;
      }
    }
  }
}

.featured-authors, .featured-blog-posts, .featured-events, .blog {
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-bottom: 1px $white solid;
  .row {
    margin-bottom: 20px;
  }
  .wp-block-column {
    margin: 0 0 40px 0;
    padding: 0 20px;
    @media (min-width: $screen-sm-min) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.featured-blog-posts {
  border: none;
}

// people pages styling
.people-grid {
  flex-wrap: wrap;
  .block-column {
    //margin: 0 0 40px 0;
    margin-bottom: 40px;
    text-align: center;
    padding: 0 30px;
    font-size: 1.25rem;
    img {
      border-radius: 50%;
      width: 100%;
      margin-bottom: 10px;
    }
    .name {
      font-weight: 700;
    }
  }
}

article {
  .featured-image {
    @media (min-width: $screen-sm-min) {
      float: right;
      max-width: 33%;
      margin: 0 0 20px 20px;
    }
  }
  .job-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

// header and link gold coloring
.content {
  h2, h3, .entry-summary, .excerpt, .tribe-events-calendar-list__event-description {
    a {
      color: $gold;
      &:hover {
        color: $gold;
      }
    }
  }
}

// event styling
.tribe-events, .tribe-events-pg-template, .tribe-events-single {
  width: 100%;
  color: $white !important;
  .tribe-events-l-container {
    padding: 20px 0 !important;
  }
  .tribe-events-meta-group {
    .tribe-events-event-categories-label, .tribe-events-event-categories {
      display: none;
    }
  }
  .tribe-events-content {
    div {
      margin-bottom: 1rem;
    }
  }
  button {
    @extend .btn;
    color: $white;
    background-color: $red;
    border-color: $red;
  }
  input[type=text] {
    border: none;
  }
}
.tribe-common {
  color: $white !important;
  &.tribe-tickets {
    //background: none;
    color: $black !important;
    .tribe-tickets__item__quantity button {
      border: none;
      color: $black;
    }
  }
}
.type-tribe_events {
  @media (min-width: $screen-sm-min) {
    .tribe-events-event-image {
      float: right;
      padding-left: 20px;
      width: 50%;
    }
  }
}

// ecs events
.ecs-event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 20px;
    @include clearfix;
    img {
      float: left;
      max-width: 33%;
      margin-right: 30px;
    }
  }
}

// author of week and events pages
.page.author-of-the-week, .page.events-workshops, .blog {
  h1 {
    color: $turqoise;
  }
}
