body {
  background-color: $dark-gray;
  background-image: url("../images/beigelightbg_hssw.jpg");
  background-size: cover;
  &#tinymce {
    background: $black;
  }
}

.container {
  max-width: $screen-lg-min !important;
}

.wrap.container {
  background-color: $black;
  padding: 20px;
  @include clearfix;
}

article {
  //padding-bottom: 20px;
  header {
    margin-bottom: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: $serif;
}
